:root{
    --blanco: #ffff;
    --oscuro: #212121;
    --primario: #3367d6;
    --white: #ffffff;
    --grey: #414141;
    --red: #d62d20;
    --amarillo: #ffa700;
    --blue: #3367d6;
    --orange: #e34c26;
    --green: #008744;
    --blueReact: #61DBFB;
    --gris: #757575;



}

html{
    font-size: 62.5%;
}

body {
    font-size: 16px;      /*Esto sirve para reiniciar ñps valores */
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background: var(--oscuro);
}


.navegacion-principal{
    padding: 2rem;
    display: flex;
    flex-direction: column;
   
    
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
     
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navegacion-principal a:hover {
    color: var(--primario);
    
}

/* @media (min-width: 480px) {
     h1{
         background: rgba(0, 0,0,.9);
     }
} */


.hero{
    background-image:url(../web_page/img/hero2.jpg);
}